body {
    color: #333;
    --tw-bg-opacity: 1;
    background-color: rgb(28 28 28 / var(--tw-bg-opacity));
    margin: 0;
    padding: 0;
    font-family: Heebo, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
  }